@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #FFFFFF;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid grey 1.3px;
  position:fixed;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 75px;
}


.logo{
    margin-left: 25px;
}

.buttons{
    margin-right: 25px;
}

.button{
  width: 150px;
  height: 40px;
  color: #0A99FE;
  background-color: rgba(10, 153, 254, 0.1);
  border: transparent;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

.button:hover{
  background-color: #0A99FE;
  color: #FFFFFF;
}

.container2{
    margin:75px auto;
    overflow-x: auto;
}

.title{
    color:#1B1B1B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

ul {
    display: flex;
}

.product{
  display: flex;
  list-style: none;
  flex-direction: column;
  min-width: 207px;
  height: 275px;
  border-radius: 7px;
  margin-right: 15px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.puduct_image{
    width: 100%;
    object-fit: cover;
    height: 60%;
    border-radius: 8px;
}

.product_name{
    color: #1B1B1B;
    font-size: 20px;
    margin: 8px auto;
}

.product_price{
    color:#868383;
    font-size: 16px;
    margin: 8px auto
}